<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="com.krx3d.tizenyoutube"
        version="0.1.0"
        viewmodes="maximized">
  <name>TizenYouTube</name>
  <icon src="icon.png"/>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.normal.1080.1080"/>

  <tizen:application id="com.krx3d.tizenyoutube"
                     package="krx3dytv"
                     required_version="5.5"/>
  <tizen:profile name="tv-samsung"/>
  <tizen:setting screen-orientation="landscape"
                 context-menu="enable"
                 background-support="disable"
                 encryption="disable"
                 install-location="auto"
                 hwkey-event="enable"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
</widget>
